<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/../assets/images/favicon.ico">

    <!-- third party css -->
    <link href="/../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/../assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="/../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="/../assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="/../assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet"
        disabled />
    <link href="/../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" disabled />

    <!-- icons -->
    <!--    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />-->
</head>

<body>
    <div id="wrapper">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            <div class="container-fluid">
                <ul class="list-unstyled topnav-menu float-right mb-0">

                    <li class="d-none d-lg-block">
                        <form class="app-search" action="search" method="get">
                            <div class="app-search-box dropdown">
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="Search..." id="top-search" name="q" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit">
                                            search
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </li>
                    <li class="dropdown notification-list topbar-dropdown">
                        <a href="/homeAdmin/users?id_user={id_user}" class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
                            data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="/../assets/images/users/user-1.jpg" alt="user-image" class="rounded-circle">
                        </a>
                    </li>
                    <li class="dropdown notification-list topbar-dropdown">
                        <a href="/login" class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light">
                              <span>log-out</span>   
                            </span>
                        </a>
                    </li>
                </ul>

                
                <!-- LOGO -->
                <div class="logo-box">
                    <a href="/" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <img src="/../assets/images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="/../assets/images/logo-light.png" alt="" height="20">
                        </span>
                    </a>
                </div>
                
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end Topbar -->
        <div class="left-side-menu">

            <div class="h-100" data-simplebar>


                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul id="side-menu">

                        <li>
                            <a href="/homeAdmin/users?id_user={id_user}">
                                <i data-feather="calendar"></i>
                                <span> Users </span>
                            </a>
                        </li>

                        <li>
                            <a href="/homeAdmin/blogs?id_user={id_user}">
                                <i data-feather="message-square"></i>
                                <span> Blogs </span>
                            </a>
                        </li>
                        <li>
                            <a href="/homeAdmin/categories?id_user={id_user}">
                                <i data-feather="message-square"></i>
                                <span> Categories </span>
                            </a>
                        </li>
                        <li>
                            <a href="/homeUser?id_user={id_user}">
                                <i data-feather="message-square"></i>
                                <span> Change User Page </span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!-- End Sidebar -->

            </div>
            <!-- Sidebar -left -->

        </div>
        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4  class="page-title">{search}</h4>                            
                            </div>
                        </div>
                    </div>
                    
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        
                                        {content}
                                    </div>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2015 -
                            <script>document.write(new Date().getFullYear())</script> &copy; UBold theme by <a
                                href="">Coderthemes</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript:void(0);">About Us</a>
                                <a href="javascript:void(0);">Help</a>
                                <a href="javascript:void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

    </div>
    <!-- third party js -->
    <script src="/../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- third party js ends -->

    <!-- Datatables init -->
    <script src="/../assets/js/pages/customers.init.js"></script>

    <!-- App js -->
    <script src="/../assets/js/app.min.js"></script>
</body>

</html>
