<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                <img src="../../assets/images/logo.png" alt="img" class="fh5co_logo_width"/>
            </div>
            <div class="col-6 col-md-8 align-self-end fh5co_mediya_right">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                           aria-describedby="search-addon"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<hr>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="/homeUser/blogs" class="list-group-item list-group-item-action active">Blog</a>
                <a href="list_user.html" class="list-group-item list-group-item-action">Add Blog</a>
                <a href="setting_user.html" class="list-group-item list-group-item-action">Setting</a>
                <a href="../../views/home/home.html" class="list-group-item list-group-item-action">Home</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>My Blog</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container-fluid paddding mb-5">
                                <div class="row mx-0">
                                    <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>